@import 'reset';

$cellSize: 30px;

$red: #f65c5c;
$selected: #2f425b;

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1e;
        color: #fefefe;
    }
    a {
        color: #5fa9ee;
    }
    img {
        filter: grayscale(20%);
    }
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

audio {
    display: none;
}

nav {
  
    padding: 30px;

    a {

        display: inline-block;
        margin: 0 20px 20px;
        font-weight: 700;
        color: #2c3e50;

        @media (prefers-color-scheme: dark) {
            color: #5fa9ee;
        }

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid-wrapper {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
    "v v v v v v v v v v v v"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell"
    "h cell cell cell cell cell cell cell cell cell cell cell";
    grid-template-rows: max-content;
    grid-template-columns: max-content;
}

.tasks {
    display: flex;
    color: #282544;
}

.task {
    font-size: 1rem;
    font-weight: 500;
    font-family: system-ui;

    background-color: #ebeff8;
    border-radius: 5px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tasks-v {
    
    grid-area: v;
    justify-content: flex-end;
    
    .task {
        
        flex-direction: column;
        width: 30px;
        padding: 5px 0;
        margin: 0 .1px;
        text-align: center;

        span {
            display: inline-block;
            margin-bottom: 2px;
        }
    }
}

.tasks-h {
    
    grid-area: h;
    flex-direction: column;
    
    .task {
        
        height: 30px;
        margin: .1px 0;
        padding: 0 5px;

        span {
            display: inline-block;
            margin-right: 5px;
        }
    }
}

.picross {

    &--is-disabled {

        .cell {
            cursor: default;
        }
    }
}

.cells {

    grid-area: cell;

    display: grid;
    grid-template-columns: repeat(15, $cellSize);
    grid-template-rows: repeat(15, $cellSize);

    border: 2px solid #333;
    border-radius: 5px;

    overflow: hidden;
    box-sizing: border-box;

    &-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.cell {

    position: relative;
    
    width: $cellSize;
    height: $cellSize;
    
    background-color: #fff;
    border: 1px solid #bec5d4;
    transition: .2s background-color ease-in-out;
    
    cursor: pointer;

    &--is-selected {
        background-color: $selected;
    }

    &--with-h-border {
        border-left: 2px solid #333;
    }

    &--with-v-border {
        border-top: 2px solid #333;
    }

    &--has-error {    
        &:before {
            
            content: '';
            
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            
            border-radius: 50%;
            box-shadow: 0 0 0 0 rgba($red, .5);
            animation: animationPulse 1.5s alternate;
            z-index: 1;
        }
    }

    &--has-s-error {
        animation: animationSError 1.5s alternate;
    }

    &--has-c-error {
        animation: animationCError 1.5s alternate;
    }    
}

.lifes {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 50px 0;
}

.u-icon {
    pointer-events: none;
}

.u-icon-cross {
    width: 30px;
    height: 30px;
}

.u-icon-heart {

    margin: 0 5px;

    width: 50px;
    height: 50px;

    fill: $red;

    transition: fill .2s ease-in-out,
                stroke .2s ease-in-out;

    
    &.is-disabled {
        animation: animationHeartShaking 2s forwards;
    }
}

@keyframes animationHeartShaking {
    0%        { transform: translate(0, 0); }
    1%  { transform: translate(10px, 0); }
    3%  { transform: translate(0, 0); }
    5%  { transform: translate(10x, 0); }
    7%  { transform: translate(0, 0); }
    9%  { transform: translate(10px, 0); }
    11% { transform: translate(0, 0); }
    13% { transform: translate(10px, 0); }
    15% { transform: translate(0, 0); }
    50%, 100% {
        
        transform: translate(0, 0);
        
        fill: #ecedf6;
        stroke: #bec5d4;
        stroke-width: 20px;
    }
}

@keyframes animationSError {
    0% {
        background-color: #fff;
    }
    33% {
        background-color: $red;
    }
    100% {
        background-color: $selected;
    }
}

@keyframes animationCError {
    0% {
        background-color: #fff;
    }
    33% {
        background-color: $red;
    }
    100% {
        background-color: #fff;
    }
}

@keyframes animationPulse {
    0% {
        transform: scale(.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba($red, 0);
    }
    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba($red, 0);
    }
  }
